<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks['css'].entry%>"></script>
	<style type="text/css">
		body{
			width: 500px !important;
			margin: 0 auto !important;
		}
		#add,#reset{
			color: red;
    		background-color: lightgreen;
		}
		
	</style>
</head>
<body>
	<h2>开饭了,决定一下吃啥~</h2>
	<!--
	<script type="text/javascript" src="./dist/dist/js/a-04b08d1ae1b5dde36593.js"></script>
	-->
	<div class="mui-content">
			<ul id="list" class="mui-table-view mui-table-view-chevron">
				
				<!-- <li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" data-title-type="native" href="#" name="他二哥">
						他二哥
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" data-title-type="native" href="#" name="猫婆小面">
						猫婆小面
					</a>
				</li>
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" data-title-type="native" href="#" name="十字街区">
					    十字街区
				    </a>					
				</li>

				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" data-title-type="native" href="#" name="兰州拉面">
						兰州拉面
					</a>
				</li>
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" href="#" name="711">
						711
					</a>
					
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" data-title-type="native" href="#" name="麻辣烫">
						麻辣烫
					</a>
				</li> -->
			</ul>
			<div>
				<input type="input" name="" placeholder="请输入您心仪的餐馆..." id = "inputValue">
				<input type="button" name="添加" value="添加" id="add">
				<input type="button" name="重选" value="重选" id="reset">
			</div>
		</div>
		
</body>
</html>